<% include partials/header.ejs %>

<h1><%= camp.name%></h1>

<img src="<%= camp.img%>">


<p><%= camp.desc%></p>

<% camp.comments.forEach(function (comment) { %>
    <div>
        <p><%= comment.text%>- &nbsp;<strong><%= comment.author%></strong></p>
    </div>
<%})%>

<% include partials/footer.ejs %>



